@mixin _609 {
  @media (max-width: 609px) {
    @content; 
  }
}

@mixin _769 {
  @media (max-width: 769px) {
    @content; 
  }
}

@mixin _450 {
  @media (max-width: 450px) {
    @content; 
  }
}


// @mixin _1024 {
//   @media (min-width: 1024px) {
//     @content; 
//   }
// }


// @mixin _1200 {
//   @media (min-width: 1200px) {
//     @content; 
//   }
// }

// @mixin _1400 {
//   @media (min-width: 1400px) {
//     @content; 
//   }
// }

// @mixin _1920{
//   @media (min-width: 1920px) {
//     @content; 
//   }
// }

//Fonts family

@mixin Nunito-700 {
 font-family: 'NunitoSans_7pt_Condensed-Bold',
   sans-serif;
 font-weight: 700;
}

@mixin Nunito-600 {
  font-family: 'NunitoSans_7pt_Condensed-ExtraBold',
    sans-serif;
  font-weight: 600;
 }

 @mixin Nunito-400 {
  font-family: 'NunitoSans_7pt_Condensed-Regular',
    sans-serif;
  font-weight: 400;
 }